/* Top Menu */

#menu {
  color: maroon;
  font-size: 20px;
}
#menu > div {
  padding: 10px;
}
#menu > div:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.75;
}

/* Lighthouse */

#lighthouse {
  color: white;
}
#lighthouse-header {
  position: absolute;
  top: 6%;
  left: 5%;
  font-weight: bold;
}
#lighthouse-slogan {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
#lighthouse-slogan > a {
  padding: 3px 5px 3px 5px;
  color: inherit;
}
#lighthouse-slogan > a:hover {
  text-decoration: none;
  border: 3px solid;
  border-radius: 5px;
  background:rgba(20,20,20,.2);
}

/* About Us */

#text-1 {
  text-align: justify;
  margin: 10px;
  padding: 15px;
}
#why-nantucket {
  padding: 15px;
  margin-right: 15px;
}

/* How It Works */
.how-it-works-text {
  padding: 10px;
}

/* Contact Us */
#photo-7 {
  padding: 0 100px 100px 100px;
  border-radius: 5px;
}